---
import BaseBody from "../../components/kit/BaseBody.astro";
import BaseHead from "../../components/kit/BaseHead.astro";
import "../../styles/global.css";
import BasePageHeading from "../../components/kit/BasePageHeading.astro";
import { getCollection } from "astro:content";
import NotePostPreview from "../../components/notes/NotePostPreview.astro";

const title = "Paul Rastoin | Today I learned";
const description = "Everything I learn everyday";
const permalink = "https://example.com"; //TODO update ?
const allNotes = (await getCollection("notes")).sort(
  (a, b) =>
    new Date(b.data.publishDate).valueOf() -
    new Date(a.data.publishDate).valueOf()
);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <BaseBody>
    <BasePageHeading>Today I learned</BasePageHeading>
    <section aria-label="Blog post list">
      {
        allNotes.map((noteEntry, index) => (
          <NotePostPreview noteEntryIndex={index} noteEntry={noteEntry} />
        ))
      }
    </section>
  </BaseBody>


</html>
