---
import BaseSection from '../kit/BaseSection.astro';
export interface Props {
    title: string;
    publishDate: string;
    url: string;
    description: string;
}

const { title, publishDate, url, description } = Astro.props;
---

<div>
    <BaseSection>
        <header>
            <a href={url}><h3 class="text-red-800">{title}</h3></a>
            <p>{publishDate}</p>
        </header>
        <p>
            {description}
        </p>
        <a href={url}>Read more</a>
    </BaseSection>
</div>
