---
import type { CollectionEntry } from "astro:content";
import BaseElementHeading from "../kit/BaseElementHeading.astro";
import BaseHr from "../kit/BaseHr.astro";
import BaseLink from "../kit/BaseLink.astro";
import BaseParagraph from "../kit/BaseParagraph.astro";
import BaseSection from "../kit/BaseSection.astro";
export interface Props {
  postEntryIndex: number;
  postEntry: CollectionEntry<"writings">;
}

const {
  postEntryIndex,
  postEntry: {
    data: { description, publishDate, title },
    slug,
  },
} = Astro.props;
const showBaseHr = postEntryIndex !== 0;
const postUrl = `/writing/${slug}`;
---

<Fragment>
  {showBaseHr && <BaseHr />}
  <BaseSection>
    <header class="mb-4 font-bold text-primary">
      <BaseElementHeading>
        <BaseLink href={postUrl}>
          <span class="font-bold">
            {title}
          </span>
        </BaseLink>
      </BaseElementHeading>
      <span class="italic">{publishDate}</span>
    </header>

    <BaseParagraph>
      {description}
    </BaseParagraph>

    <BaseLink href={postUrl}>Read more</BaseLink>
  </BaseSection>
</Fragment>
