---
import type { CollectionEntry } from "astro:content";
import BaseElementHeading from "../kit/BaseElementHeading.astro";
import BaseHr from "../kit/BaseHr.astro";
import BaseLink from "../kit/BaseLink.astro";
import BaseParagraph from "../kit/BaseParagraph.astro";
import BaseSection from "../kit/BaseSection.astro";
export interface Props {
  writingEntryIndex: number;
  writingEntry: CollectionEntry<"writings">;
}

const {
  writingEntryIndex,
  writingEntry: {
    data: { description, publishDate, title },
    slug,
  },
} = Astro.props;
const showBaseHr = writingEntryIndex !== 0;
const writingUrl = `/writing/${slug}`;
---

<Fragment>
  {showBaseHr && <BaseHr />}
  <BaseSection>
    <header class="mb-4 font-bold text-primary">
      <BaseElementHeading>
        <BaseLink href={writingUrl}>
          <span class="font-bold">
            {title}
          </span>
        </BaseLink>
      </BaseElementHeading>
      <span class="italic">{publishDate}</span>
    </header>

    <BaseParagraph>
      {description}
    </BaseParagraph>

    <BaseLink href={writingUrl}>Read more</BaseLink>
  </BaseSection>
</Fragment>
