---
import { PostPreviewInformation } from '../../types/PostsType';
import BaseElementHeading from '../kit/BaseElementHeading.astro';
import BaseHr from '../kit/BaseHr.astro';
import BaseLink from '../kit/BaseLink.astro';
import BaseParagraph from '../kit/BaseParagraph.astro';
import BaseSection from '../kit/BaseSection.astro';
export interface Props {
    writingPostPreviewIndex: number;
    postInformation: PostPreviewInformation;
}

const { writingPostPreviewIndex, postInformation: {description, publishDate, title, url} } = Astro.props;
const showBaseHr = writingPostPreviewIndex !== 0
---

<Fragment>
    {showBaseHr && <BaseHr />}
    <BaseSection>
        <header class="mb-4 font-bold text-primary">
            <BaseElementHeading>
                <BaseLink href={url}>
                    <span class="font-bold">
                        {title}
                    </span>    
                </BaseLink>
            </BaseElementHeading>
            <span class="italic">{publishDate}</span>
        </header>

        <BaseParagraph>
            {description}
        </BaseParagraph>
        
        <BaseLink href={url}>Read more</BaseLink>
    </BaseSection>
</Fragment>
