---
import { PostPreviewInformation } from '../../types/PostsType';
import BaseHr from '../kit/BaseHr.astro';
import BaseLink from '../kit/BaseLink.astro';
import BaseParagraph from '../kit/BaseParagraph.astro';
import BaseSection from '../kit/BaseSection.astro';
export interface Props {
    writingPostPreviewIndex: number;
    postInformation: PostPreviewInformation;
}

const { writingPostPreviewIndex, postInformation: {description, name, publishDate, title, url} } = Astro.props;
const showBaseHr = writingPostPreviewIndex !== 0
---

<Fragment>
    {showBaseHr && <BaseHr />}
    <BaseSection>

        <header class="mb-4 font-bold text-primary">
            <h3 class="mb-3 text-2xl md:text-3xl underline">
                <BaseLink href={url}>{title}</BaseLink>
            </h3>
            <span class="italic">{publishDate}</span>
        </header>

        <BaseParagraph>
            {description}
        </BaseParagraph>
        
        <BaseLink href={url}>Read more</BaseLink>
    </BaseSection>
</Fragment>
