---
import BaseHead from "../../components/kit/BaseHead.astro";
import BaseBody from "../../components/kit/BaseBody.astro";
import "../../styles/global.css";
import WritingPostPreview from "../../components/writing/WritingPostPreview.astro";
import BasePageHeading from "../../components/kit/BasePageHeading.astro";
import { getCollection } from "astro:content";

const title = "Paul Rastoin | Writing";
const description = "Writing articles about things I'm interested in";
const permalink = "https://example.com/";
const allBlogPosts = await getCollection("posts");
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <BaseBody>
    <div class="flex flex-col justify-evenly">
      <BasePageHeading>Writing</BasePageHeading>
      <div aria-label="Blog post list">
        {
          allBlogPosts.map((entry, index) => (
            <WritingPostPreview postEntryIndex={index} postEntry={entry} />
          ))
        }
      </div>
    </div>
  </BaseBody>


</html>
