---
// Component Imports
import BaseHead from '../../components/kit/BaseHead.astro';
import BaseBody from '../../components/kit/BaseBody.astro';

import WritingPostPreview from '../../components/writing/WritingPostPreview.astro';

const title = 'prastoin | writing';
const description = "Writing articles about things I'm interested in";
const permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.
const allPosts = Astro.fetchContent('./posts/*.md').sort(
    (a, b) =>
        new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf(),
);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
        <BaseHead {title} {description} {permalink} />
    </head>

    <BaseBody>
        <main
            class="w-full flex flex-col self-center prose dark:prose-invert sm:prose-sm md:prose-lg lg:prose-xl"
        >
            <section class="intro">
                <h1 class="latest">{title}</h1>
                <p>{description}</p>
            </section>
            <section aria-label="Blog post list">
                {allPosts.map((p) => <WritingPostPreview post={p} />)}
            </section>
        </main>
    </BaseBody>
</html>
